{% extends "baseAdmin.html" %}
{% block title %}Detalles{% endblock %}
{% block content %}
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>{{ tipos }}</h3>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Detalles de Imagen</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br/>

                    <div class="col-md-12 col-sm-12 col-xs-12 profile_details">
                        <div class="col-md-12 well profile_view">
                            <div class="col-sm-12">
                                <h2 class="brief">
                                    <b><i>{{object.detalle}}</i></b>
                                </h2>
                                <div class="left col-xs-6">
                                    <h2>Información</h2>
                                    <ul class="list-unstyled">
                                        <li><h4><strong>Fecha de Captura: </strong></h4></li>
                                        <li>{{object.fechaCaptura}}</li>
                                        <li><h4><strong>Fecha Subida: </strong></h4></li>
                                        <li>{{object.fechaSubida}}</li>
                                        <li><h4><strong>Personas que aparecen: </strong></h4></li>
                                        <li>{% for personasFoto in object.personasFoto.all %}{{ personasFoto }}<br/>{% endfor %}</li>
                                        <li><h4><strong>Subida por: </strong></h4></li>
                                        <li>{{object.personaUser}}</li>
                                    </ul>
                                </div>
                                <div class="right col-xs-5 text-center">
                                    <img src="{{object.imagen.url}}" alt="" class="img-circle img-responsive">
                                </div>
                            </div>
                            <div class="col-xs-12 bottom text-center">
                                <div class="col-xs-12 col-sm-6 emphasis">
                                    <p class="ratings">
                                        <a>TAGS:</a>
                                        {% for tag in object.tag.all %}
                                        <a href="{% url 'Admin:MImgTags' tag.id  %}">
                                            <button type="button" class="btn btn-success btn-xs">
                                                <h5> #{{ tag }} </h5>
                                            </button>
                                        </a>
                                        {% endfor %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}